<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{admin.account}">Admin Account</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="page-header">
    <strong th:utext="#{admin.account}">Admin Account</strong>
</h2>
<table>
    <tr>
        <td>
            <span th:insert="fragments.html :: loggedUserInfo"></span>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" href="#" th:href="@{~/admin/librariansList}" th:utext="#{delete.librarian}">
                Delete Librarian</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" href="#" th:href="@{~/admin/showCreateLibrarian}" th:utext="#{create.librarian}">
                Create Librarian</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" href="#" th:href="@{~/librarian/usersList}" th:utext="#{lock.unlock.user}">
                Lock/ unlock user</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" href="#" th:href="@{~/bookCatalog}" th:utext="#{edit.delete.book}">
                Edit/ delete book</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="nav-link" href="#" th:href="@{~/admin/showCreateBook}" th:utext="#{create.book}">
                Create book</a>
        </td>
    </tr>
</table>
</body>
</html>