<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{book.catalog}">Book catalog</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<table>
    <tr valign='top'>
        <td>
            <table>
                <tr>
                    <td>
                        <h2 class="page-header">
                            <strong th:utext="#{book.catalog}">Book catalog</strong>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:if="${param.error}" class="alert alert-danger">
                            Something wrong happened
                        </div>
                        <div th:if="${message}" class="alert alert-danger">
                            <p th:text="${message}"></p>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- finding books           -->
            <div>
                <form th:action="@{/bookCatalog/findBooksByAuthor}" th:object="${searchQueryByAuthor}" method="POST"
                      enctype="utf8">
                    <div>
                        <label>to find books by author</label>
                        <input th:field="*{content}"/>
                    </div>
                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" class="btn btn-success" th:text="#{submit}">Submit</button>
                    </div>
                </form>
            </div>
            <div>
                <form th:action="@{/bookCatalog/findBooksByTitle}" th:object="${searchQueryByTitle}" method="POST"
                      enctype="utf8">
                    <div>
                        <label>to find books by title</label>
                        <input th:field="*{content}"/>
                    </div>
                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" class="btn btn-success" th:text="#{submit}">Submit</button>
                    </div>
                </form>
            </div>
            <!--            took https://examples.javacodegeeks.com/spring-boot-sorting-with-thymeleaf-tutorial/-->
            <!-- books table           -->
            <table id="users" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <!-- sorting control via book Title-->
                    <th>
                        <a th:href="@{'/bookCatalog/page/' + ${currentPage} + '?sort-field=title&sort-dir='
                         + ${reverseSortDir} + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}">Title</a>
                    </th>
                    <!-- sorting control via book Author-->
                    <th>
                        <a th:href="@{'/bookCatalog/page/' + ${currentPage} + '?sort-field=author&sort-dir='
                         + ${reverseSortDir} + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}">Author</a>
                    </th>
                    <!-- sorting control via book Publisher-->
                    <th>
                        <a th:href="@{'/bookCatalog/page/' + ${currentPage} + '?sort-field=publisher&sort-dir='
                         + ${reverseSortDir} + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}">Publisher</a>
                    </th>
                    <!-- sorting control via book Publishing date-->
                    <th>
                        <a th:href="@{'/bookCatalog/page/' + ${currentPage} + '?sort-field=publishingDate&sort-dir='
                         + ${reverseSortDir} + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}">Publishing date</a>
                    </th>
                    <th>ISBN</th>
                    <th>Quantity</th>
                    <th sec:authorize="hasAuthority('ADMIN')">
                        <span th:text="#{edit}">EDIT</span>
                    </th>
                    <th sec:authorize="hasAuthority('ADMIN')">
                        <span th:text="#{delete}">DELETE</span>
                    </th>
                    <th sec:authorize="hasAuthority('USER')">
                        <span th:text="#{order}">ORDER</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${books.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${books}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                    <td><span th:text="${book.quantity}">quantity</span></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="page-link" href="#" th:href="@{~/admin/showEditBook(id=${book.id})}"
                           th:utext="#{edit}">EDIT</a>
                    </td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="page-link" href="#" th:href="@{~/admin/deleteBook(id=${book.id})}"
                           th:utext="#{delete}">DELETE</a>
                    </td>
                    <td sec:authorize="hasAuthority('USER')">
                        <a class="page-link" href="#" th:href="@{~/user/orderBook(bookId=${book.id})}"
                           th:utext="#{order}">ORDER</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
<!-- pagination control -->
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total books: <strong>[[${totalItems}]]</strong>
        </div>
        <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{'/bookCatalog/page/' + ${i} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}
                         + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
        </div>
        <div class="col-sm-1">
            <a th:href="@{'/bookCatalog/page/' + ${currentPage + 1} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}
             + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}"
               th:if="${currentPage < totalPages}">
                Next
            </a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div class="col-sm-1">
            <a th:href="@{'/bookCatalog/page/' + ${totalPages} + '?sort-field=' + ${sortField} + '&sort-dir=' + ${sortDir}
             + '&search-request-by-author=' + ${searchRequestByAuthor}
                         + '&search-request-by-title=' + ${searchRequestByTitle}}"
               th:if="${currentPage < totalPages}">
                Last
            </a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
</body>
</html>