<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{user.account}">User Account</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="page-header">
    <strong th:utext="#{user.account}">User Account</strong>
</h2>
<table>
    <tr>
        <td>
            <div th:fragment="selectedUserInfo">
                <!--    TODO make i18n-->
                <h3>
                    Registration data
                </h3>
                <table border="1" cellpadding="5" cellspacing="1">
                    <tr>
                        <td>ID</td>
                        <td><span th:text="${selectedUser.id}"> id</span></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><span th:text="${selectedUser.email}"> lastName</span></td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td><span th:text="${selectedUser.email}"> lastName</span></td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td><span th:text="${selectedUser.firstName}"> firstName</span></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><span th:text="${selectedUser.lastName}"> lastName</span></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div th:if="${param.error}" class="alert alert-danger">
                Something wrong happened
            </div>
            <div th:if="${message}" class="alert alert-danger">
                <p th:text="${message}"></p>
            </div>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.in.the.order}">Books in the order</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksInTheOrder" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksInTheOrder.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${booksInTheOrder}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.on.the.subscription}">Books on the subscription</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksOnTheSubscription" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                    <th>Return date</th>
                    <th>Penalty</th>
                    <th>
                        <span th:text="#{return}">RETURN</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksOnTheSubscription.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="userBookSubscription : ${booksOnTheSubscription}">
                    <td><span th:text="${userBookSubscription.book.id}">id</span></td>
                    <td><span th:text="${userBookSubscription.book.title}">title</span></td>
                    <td><span th:text="${userBookSubscription.book.author}">author</span></td>
                    <td><span th:text="${userBookSubscription.book.publisher}">publisher</span></td>
                    <td><span th:text="${userBookSubscription.book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${userBookSubscription.book.isbn}">isbn</span></td>
                    <td><span th:text="${userBookSubscription.returnDate}">Return date</span></td>
                    <td><span th:text="${userBookSubscription.amountOfPenalty}">Penalty</span></td>
                    <td>
                        <a th:if="${userBookSubscription.amountOfPenalty == 0.0}" class="page-link" href="#"
                           th:href="@{~/librarian/returnUserBookFromSubscription(bookId=${userBookSubscription.book.id},
                           userId=${selectedUser.id})}"
                           th:text="#{return}">RETURN</a>
                        <span th:unless="${userBookSubscription.amountOfPenalty == 0.0}">NOT ALLOWED</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.in.the.reading.room}">Books in the reading room</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksInTheReadingRoom" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                    <th>
                        <span th:text="#{return}">RETURN</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksInTheReadingRoom.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${booksInTheReadingRoom}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                    <td>
                        <a class="page-link" href="#"
                           th:href="@{~/librarian/returnUserBookFromReadingRoom(bookId=${book.id}, userId=${selectedUser.id})}"
                           th:utext="#{return}">RETURN</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>