<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{user}">userAccount</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!--TODO make like adminAccount-->
<table>
    <tr valign='top'>
        <td>
            <table>
                <tr>
                    <td>
                        <h2 class="page-header">
                            <strong th:utext="#{user}">userAccount</strong>
                        </h2>
                    </td>
                </tr>
                <tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>