<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{user.account}">User Account</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="page-header">
    <strong th:utext="#{user.account}">User Account</strong>
</h2>
<table>
    <tr>
        <td>
            <span th:insert="fragments.html :: loggedUserInfo"></span>
        </td>
    </tr>
    <tr>
        <td>
            <div th:if="${param.error}" class="alert alert-danger">
                Something wrong happened
            </div>
            <div th:if="${message}" class="alert alert-danger">
                <p th:text="${message}"></p>
            </div>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.in.the.order}">Books in the order</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksInTheOrder" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksInTheOrder.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${booksInTheOrder}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.on.the.subscription}">Books on the subscription</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksOnTheSubscription" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                    <th>Return date</th>
                    <th>Penalty</th>
                    <th>Pay penalty</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksOnTheSubscription.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="userBookSubscription : ${booksOnTheSubscription}">
                    <td><span th:text="${userBookSubscription.book.id}">id</span></td>
                    <td><span th:text="${userBookSubscription.book.title}">title</span></td>
                    <td><span th:text="${userBookSubscription.book.author}">author</span></td>
                    <td><span th:text="${userBookSubscription.book.publisher}">publisher</span></td>
                    <td><span th:text="${userBookSubscription.book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${userBookSubscription.book.isbn}">isbn</span></td>
                    <td><span th:text="${userBookSubscription.returnDate}">Return date</span></td>
                    <td><span th:text="${userBookSubscription.amountOfPenalty}">Penalty</span></td>
                    <td th:if="${userBookSubscription.amountOfPenalty > 0}">
                        <a class="page-link" href="#"
                           th:href="@{~/user/payPenalty(bookId=${userBookSubscription.book.id})}"
                        >pay</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{books.in.the.reading.room}">Books in the reading room</span></td>
    </tr>
    <tr>
        <td>
            <table id="booksInTheReadingRoom" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksInTheReadingRoom.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${booksInTheReadingRoom}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>