<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:insert="fragments.html :: headerfiles">
    <title th:utext="#{user.account}">User Account</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<h2 class="page-header">
    <strong th:utext="#{user.account}">User Account</strong>
</h2>
<table>
    <tr>
        <td>
            <span th:insert="fragments.html :: loggedUserInfo"></span>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{list.books.subscription}">List of books on the subscription</span></td>
    </tr>
    <tr>
        <td>
            <table id="users" border="1" cellpadding="5" cellspacing="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Publishing date</th>
                    <th>ISBN</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${userBooks.isEmpty()}">
                    <td><span th:text="#{no.books.available}">No books available</span></td>
                </tr>
                <tr th:each="book : ${userBooks}">
                    <td><span th:text="${book.id}">id</span></td>
                    <td><span th:text="${book.title}">title</span></td>
                    <td><span th:text="${book.author}">author</span></td>
                    <td><span th:text="${book.publisher}">publisher</span></td>
                    <td><span th:text="${book.publishingDate}">publishingDate</span></td>
                    <td><span th:text="${book.isbn}">isbn</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</body>
</html>